---
layout: default
---
<head>
<meta name="google-site-verification" content="-SYgVN_Z7cNFi1GwenSeIZQIKg8ZKXOSppLYi-kDGug" />
</head>

<div class="home">
    {% if page.title %}
        <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %}
    
{{ content }}
<div id="archives">
    <h2 class="page-heading">{{ page.list_title | default: "Benvenuto!" }}</h2>
    <h3 class="footer-heading">Qui pubblico guide, progetti portati a termine e materiale universitario utile.</h3>
     <ul>
                    <li><h3 class="category-head">{{ "Router Mods" }}</h3>
                    <ul>
                        <li><h4 >{{ "Openwrt" }}</h4>
                        {% for post in site.categories["wrt"] %}
                            <ul>
                            <li type=disc><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                            </ul>
                        {% endfor %}
                        <p></p>
                        <li><h4 >{{ "Stock Firmware" }}</h4>
                        {% for post in site.categories["stock-fw"] %}
                            <ul>
                            <li type=disc><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                            </ul>
                        {% endfor %}
                        <p></p>
                        <li><h4 >{{ "Firmware Alternativi" }}</h4>
                        {% for post in site.categories["mod-fw"] %}
                            <ul>
                            <li type=disc><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                            </ul>
                        {% endfor %}
                        <p></p>
                    </ul>
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
                
                {% if category_name =="tings" %}
                    {% for post in site.categories["tings"] %}
                        <li><h3 class="post-header"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
                    {% endfor %}
                {% endif %}
                
                {% if category_name =="Progetti" %}
                <li><h3 class="category-head">{{ "Progetti" }}</h3>
                    {% for post in site.categories["Progetti"] %}
                        <ul>
                            <li><h4 type=disc><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                        </ul>
                    {% endfor %}
                {% endif %}
        </ul>
    {% endfor %}
</div>

</div>

<!-- Inizio Codice ShinyStat -->
<script type="text/javascript" src="//codice.shinystat.com/cgi-bin/getcod.cgi?USER=Pietrotti97"></script>
<noscript>
<a href="http://www.shinystat.com/it/" target="_top">
<img src="//www.shinystat.com/cgi-bin/shinystat.cgi?USER=Pietrotti97" alt="Contatore accessi gratuito" style="border:0px" /></a>
</noscript>
<!-- Fine Codice ShinyStat -->
